@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}
header{
	background-image: linear-gradient(to top, #143143 0%, #13284c 51%, #132f40 100%);
	height: 670px;
}
.logo{
	text-align: center;
	padding-top: 93px;
	height: 500px;
}
.head-menu a{
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-weight: 400;
	line-height: 25.94px;
	text-transform: uppercase;
	margin-top: 80px;
}
.head-menu a:active{
	color: #dedede;
}
.head-menu h1{
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 70px;
	text-transform: uppercase;
	padding-top: 20px;
}
.head-menu p{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: -3px;
}
.head-menu object{
	background: #b6b6b6;
	height: 5px;
	width: 350px;
	opacity: 0.4; 
}
.head-menu button{
	outline:none;
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	padding: 15px 55px;
	border: none; 
	border-radius: 50px;
	background-color: #50c3af;
}
.head-menu button:hover{
	cursor: pointer;
	transition: 0.5s;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	padding: 15px 55px;
	border: none; 
	border-radius: 50px;
	background-color: #3d9b8b;
}
.head-menu button:active{
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	padding: 15px 55px;
	border: none; 
	border-radius: 50px;
	background-color: #50c3af;
}
article{
	background: #f3f3f3;
	height: 280px;
}
article h1{
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	padding: 20px;
	margin: 0;
	color: #132d3d;
}
article input{
	outline:none;
	font-size: 20px;
	margin-top: 40px;
	padding: 7px 10px;
	border-radius: 33px;
	border: 2px solid #132d3d;
	background-color: #f3f3f3;
}
article button{
	cursor: pointer;
	outline:none;
	font-size: 15px;
	margin-top: 40px;
	padding: 10px 25px;
	border: none;
	color: #fff;
	border-radius: 33px;
	border: 2px solid #132d3d;
	background-color: #132d3d;
	background-image: linear-gradient(to top, #15394f 0%, #132d3d 100%);
}
article button:hover{
	font-size: 15px;
	margin-top: 40px;
	padding: 10px 25px;
	border: none;
	color: #fff;
	border-radius: 33px;
	border: 2px solid #082937;
	background-color: #082937;
	background-image: linear-gradient(to top, #082937 0%, #082937 100%);
}
article button:active{
	font-size: 15px;
	margin-top: 40px;
	padding: 10px 25px;
	border: none;
	color: #fff;
	border-radius: 33px;
	border: 2px solid #132d3d;
	background-color: #132d3d;
	background-image: linear-gradient(to top, #15394f 0%, #132d3d 100%);
}
.small-text{
	margin:0 auto;
	display: block;
	font-size: 12px;
	margin-top: 10px;
	color: #132d3d;

}

